= form_for @leave_event do |f|
  - if @leave_event.errors.any?
    #error_explanation
      h2 = "#{pluralize(@leave_event.errors.count, "error")} prohibited this leave_event from being saved:"
      ul
        - @leave_event.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :description
    = f.text_area :description
  .actions = f.submit
