h1 Listing leave_events

table
  thead
    tr
      th Start time
      th End time
      th Description
      th 
      th Action
      th

  tbody
    - @leave_events.each do |leave_event|
      tr
        td = leave_event.start_time
        td = leave_event.end_time
        td = leave_event.description
        td = link_to 'Show', leave_event
        td = link_to 'Edit', edit_leave_event_path(leave_event)
        td = link_to 'Destroy', leave_event, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Leave event', new_leave_event_path

