p#notice = notice

p
  strong Start time:
  = @leave_event.start_time
p
  strong End time:
  = @leave_event.end_time
p
  strong Description:
  = @leave_event.description

=> link_to 'Edit', edit_leave_event_path(@leave_event)
'|
=< link_to 'Back', leave_events_path
