<!DOCTYPE html>
<html>
  <head>
    <title>LmsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<%= link_to 'Leave Management System',leave_events_path, class:'navbar-brand col-sm-3 col-md-2 mr-0' %>

		<input class="form-control form-control-dark w-100 col-md-6" type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-1">
			<li class="nav-item text-nowrap">
			<%= link_to 'Invite', new_user_invitation_path, class: 'nav-link' %>
			</li>
		</ul>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
			
			<% if user_signed_in? %>
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
			<% else %>
				<%= link_to 'login', new_user_session_path, class: 'nav-link' %>
			<% end %>	
			</li>
		</ul>
	</nav>
	
	<%# Alerts %>
	
		<%= render 'common/alert' %>
		
	<div class="container-fluid">
  <div class="row">
    <%= render 'common/navbar' %>

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Dashboard</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<%# <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Export</button> %>
				</div>
				<%# <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
					<span data-feather="calendar"></span>
					This week
				</button> %>
			</div>
		</div>
		
		<%= yield %>		
	</main>
  </div>
</div>	
   
		
  </body>
</html>
